/* body {
  background-color: red;
} */

header h1 {
  margin: 8px 15px 12px;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 15px;
}

header {
  background-color: grey;
}

section#selectors {
  background-color: darkorange;
}

#selectors.codebox {
  background-color: blue;
}

section#selectors.codebox {
  background-color: lime;
}

#about {
  background-color: greenyellow;
}

#boxmodel,
#units {
  background-color: violet;
}

section.codebox {
  background-color: teal;
}

nav ul {
  list-style-type: none;
}

nav li {
  background-color: black;
}

nav > li {
  color: white;
}

section .codebox {
  background-color: red;
}

.codebox dd {
  color: green;
}

.codebox dd {
  color: red;
}
dd {
  color: black;
  font-weight: bold;
}

p b {
  width: 50px;
  height: 50px;
}

nav ul {
  margin: 0;
  padding: 10px;
  border: solid;
  background-color: skyblue;
}

.red {
  color: red;
  margin: 10px;
}

.green {
  color: green;
  margin: 10px;
}

.blue {
  color: blue;
  margin: 10px;
}

#selectors dl {
  /* border: 2px solid red; */
  border-radius: 1em;
}
